# artifacts
coverage
node_modules
/**/node_modules
/packages/*/dist

# misc
.DS_Store
Thumbs.db
*.tsbuildinfo
npm-debug.log*
.obsidian
.nx
yalc.lock
.yalc

/e2e/hatchify-app
/e2e/test-results/
/e2e/playwright-report/
/playwright/.cache/
/packages/create/hatchify-app
