# environment
.env
.env.*

# artifacts
node_modules
/**/node_modules
/packages/*/dist
/packages/*/coverage

# misc
.vscode/settings.json
.DS_Store
Thumbs.db
*.tsbuildinfo
npm-debug.log*
.obsidian

/test-results/
/playwright-report/
/playwright/.cache/
/example/hatchify-app
/packages/create/hatchify-app
