# environment
.env
.env.*

# artifacts
node_modules
/**/node_modules
/packages/*/dist
/packages/*/coverage

# misc
.DS_Store
Thumbs.db
*.tsbuildinfo
npm-debug.log*
.obsidian
.nx

/test-results/
/playwright-report/
/playwright/.cache/
/example/hatchify-app
/packages/create/hatchify-app
